<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Online_Store</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">Welcome</property>

        <!-- JDBC connection pool settings (using built-in hibernate connection pooling) -->
        <property name="hibernate.connection.pool_size">5</property>

<!--        &lt;!&ndash; Specify dialect &ndash;&gt;-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>-->

        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">false</property>

        <!-- Update the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

<!--        &lt;!&ndash; Mention annotated class name here &ndash;&gt;-->
        <mapping class="db_project.db_project.entities.Product"/>
        <mapping class="db_project.db_project.entities.Verfügbarkeit"/>
        <mapping class="db_project.db_project.entities.ÄhnlicheProdukte"/>
        <mapping class="db_project.db_project.entities.Bewertung"/>

    </session-factory>

</hibernate-configuration>
